*.class
*~
*.o
*.s
*.a
*.exe
.scons*
*.os
*.so
*.pyc
*.def
*.lib
*.rlib
a.out
tmp/*
doc/*
*.gch
moc_*
javadoc/*
doc/*
*.jar
tmp/*
build/*
*.sw?
.hhhh
build/*
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles/*
.*
!.gitignore
!.travis.yml
compile_commands.json
